
.order {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select {
    max-width: 100px;
}

.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
textarea {
    max-width: 200px;
}

button {
    max-width: 100px;
}